header { 
    padding-top: 5px;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: blue;
}

a:hover {
    color: red;
}

footer {
    background-color: #e9eaee;
    display: flex;
    justify-content: center;
    align-items: center;
}

body { 
    background-color: #e9eaee;
}

nav { 
    float: right;
    position: relative;
}

ul { 
    list-style-type: none;
    overflow: hidden;
}

.cue {
    font-weight: bold;
}

li { 
    float: right;
}

li a { 
    font-size: 90%;
    color: #000000;
    text-align: center;
    border-radius: 25px;
    height: 20px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    position: relative;
}

h1 { 
    color: #000000;
    font-size: 300%;
    width: 70%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

h2 {
    font-size: 200%;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

h3 {
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
}

form {
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}

p { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    color: #000000;
    width: 70%;
    margin: auto;
}

hr {
    margin-top: 50px;
    width: 70%
}

.fit { 
    width: 60%;
    height: 100%;
    margin: auto;
    position: relative;
}