body { 
    width: 70%;
    padding-left:  30px;
    padding-right: 30px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e9eaee;
}

/* Navigation bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

/* Style the left menu items */
.menu-left {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-left li {
    font-size: 150%;
    list-style-type: none;
    margin-right: 20px;
}

.menu-left a {
    text-decoration: none;
    font-weight: bold;
}

.menu-right {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-right li {
    font-size: 150%;
    list-style-type: none;
    margin-left: 10px;
}

/* Bios */
.bio {
    width: 60%;
    display:inline-block;
    vertical-align:top;
    text-align: left;
}

.bioimg {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

/* Publications */
li {
    padding-bottom: 10px;
}

/* Headers */
h1 {
    font-size: 300%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

h2 {
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

h3 {
    font-size: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

/* Main paragraphs */
p {
    margin: auto;
}

/* Links */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: darkblue;
}

a:hover {
    color: crimson;
}

/* Footers */
footer {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
  margin: 0;
  padding: 0;
}