body { 
    background-color: #e9eaee;
}

/* Navigation bar*/
.navbar {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the left menu items */
.menu-left {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-left li {
    font-size: 150%;
    list-style-type: none;
    margin-right: 20px; /* Adjust the spacing between menu items */
}

.menu-left a {
    text-decoration: none;
    font-weight: bold;
}

.menu-right {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-right a {
    font-size: 150%;
    margin-right: 10px; /* Adjust the spacing between menu items */
}

/* Bios */
.bio {
    display:inline-block;
    vertical-align:top;
    width: 50%;
    padding-left: 15%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

/* Publications */
li {
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
}

/* Headers */
h1 {
    font-size: 300%;
    width: 70%;
    padding-bottom: 30px;
    margin: auto;
}

h2 {
    font-size: 200%;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

h3 {
    font-size: 150%;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

/* Main paragraphs */
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    width: 70%;
    margin: auto;
}

/* Links */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(0, 0, 255);
}

a:hover {
    color: red;
}

/* Footers */
footer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}