body { 
    width: 70%;
    padding-left:  30px;
    padding-right: 30px;
    margin: auto;
    font-size: 100%;
    line-height: 1.5;
    font-family: Helvetica;
    background-color: #ffffff;
}

/* Navigation bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

/* Style the left menu items */
.menu-left {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-left li {
    font-size: 150%;
    list-style-type: none;
    margin-right: 20px;
}

.menu-left a {
    text-decoration: none;
    font-weight: bold;
}

.menu-right {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-right li {
    font-size: 150%;
    list-style-type: none;
    margin-left: 10px;
}

/* Publications */
li {
    padding-bottom: 10px;
}

/* Headers */
h1 {
    font-size: 300%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

h2 {
    font-size: 225%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

h3 {
    font-size: 125%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

/* Main paragraphs */
p {
    padding-top: 20px;
    margin-top: 20px;
    margin: auto;
}

.post-date {
    font-family: helvetica, sans-serif;
    font-size: 15px;
}

.post-content {
    font-family: helvetica, sans-serif;
    font-size: 20px;
}

table {
    margin-top: 20px;
    margin-bottom: -20px;
    color: #666666;
    border: 2px solid;
    border-color: #666666;
    border-spacing: 10px;
    font-size: 20px;
}

code {
    font-family: helvetica, sans-serif;
    font-size: 20px;
    background-color:darkgrey;
    padding: 0.1em 0.1em;
    border-radius: 5px;
}

/* Links */
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #0066cc;
}

a:hover {
    color: crimson;
}

/* Footers */
footer {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
  margin: 0;
  padding: 0;
}
